@media (max-width: 800px) {
    /*SECTION 1*/
    
    div.side-a{
        position: relative;
        bottom: 50px;
        padding-top: 100px !important;
        padding: 50px;
        width:auto;
        /*DESIGN*/
        border-top-right-radius: unset;
        border-bottom-right-radius: 150px;
        border-bottom-left-radius: 150px;
    }
     
    div.title h1{
        font-size: 35px;
    }

    div.description h1, div.description p, div.security{
        font-size:medium;
    }

    .form{
        width: 250px;
    }

    .form input::placeholder{
        font-size: 15px;
    }

    .button input{
        width: 200px;
        /*DESIGN*/
        font-size: 15px;
    }

    /*SECTION 2*/

    div.class-1, div.class-2, div.class-3, div.aula-bonus{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        height: unset;
    }

    div.class-2, div.aula-bonus{
        flex-direction: column-reverse;
    }

    div.class-img{
        width: 100%;
        height: auto;
    }

    div.class-title{
        margin: 8px;
        /*DESIGN*/
        font-size: 25px;
    }

    div.class-1 img, div.class-2 img, div.class-3 img, div.aula-bonus img{
        width: 100%;
    }

    div.class-content{
        width: 100%;
        height: auto;    
    }

    /*SECTION 3*/

    div.professores img{
        width: 180px;
        /*DESIGN*/
        border: 11px solid #0a4b75;
    }

    div.professores-desc{
        display: none;
        flex-direction: column;
        width: auto;
        height: auto;
        /*DESIGN*/
        background-size: cover;
        background-position: center;
    }

    div.prof-pic, div.prof-bio{
        width: auto;
        display: flex;
        justify-content: space-between;
        margin: 30px;
        /*DESIGN*/
        border-radius: 25px;
    }
    
    div.prof-pic img{
        width: 100%;
    }
    
    div.prof-bio{
        height: 300px;
    }

    /* SECTION 4 */

    .form-2{
        width: 85%;
        padding: 40px;
        /*DESIGN*/
        border-radius: 40px;
    }

    .form-2 input::placeholder{
        font-size: 15px;
    }

    div.copyright{
        width: auto;
        padding: 30px;
        padding-top: 60px;
        /*DESIGN*/
        font-size: smaller;
        clip-path: ellipse(70% 77% at 50% 80%);
    }
}

@media (min-width: 801px) and (max-width: 1000px){
    /*SECTION 1*/

    div.title h1{
        font-size: 40px;
    }

    div.description h1, div.description p, div.security{
        font-size: medium;
    }

    .form{
        width: 250px;
    }

    .form input::placeholder{
        font-size: 15px;
    }

    .button input{
        width: 200px;
        /*DESIGN*/
        font-size: 15px;
    }

    /*SECTION 2*/

    div.class-1, div.class-2, div.class-3, div.aula-bonus{
        height: 350px;
    }

    div.class-title{
        margin: 8px;
        /*DESIGN*/
        font-size: 25px;
    }

    /*SECTION 3*/

    div.professores img{
        width: 180px;
        /*DESIGN*/
        border: 11px solid #0a4b75;
    }

    div.professores-desc{
        width: auto;
        height: 450px;
    }

    div.prof-bio{
        justify-content:unset;
    }

    /* SECTION 4 */

    .form-2{
        width: 70%;
        padding: 40px;
        /*DESIGN*/
        border-radius: 40px;
    }

    .form-2 input::placeholder{
        font-size: 15px;
    }
}

@media (min-width: 1501px){
    /*SECTION 1*/

    div.title h1{
        font-size: 65px;
    }

    div.description h1, div.description p, div.security{
        font-size:x-large;
    }

    .form{
        width: 350px;
        font-size: 20px;
    }

    .form input{
        height: 40px;
    }

    .form input::placeholder{
        font-size: 23px;
    }

    .button input{
        width: 250px;
        /*DESIGN*/
        font-size: 23px;
        height: 40px;
    }

    /*SECTION 2*/

    div.class-1, div.class-2, div.class-3, div.aula-bonus{
        height: 600px;
    }

    div.class-title{
        margin: 8px;
        /*DESIGN*/
        font-size: 50px;
    }

    details{
        font-size: 23px;
    }

    /*SECTION 3*/

    div.prof-title h1{
        font-size: 50px;
    }

    div.prof-title p{
        font-size: 23px;
    }

    div.professores img{
        width: 300px;
        /*DESIGN*/
        border: 15px solid #0a4b75;
    }

    div.prof-bio{
        font-size: 27px;
    }

    /* SECTION 4 */

    div.form-title{
        font-size: 35px;
    }

    .form-2{
        font-size: 20px;
    }

    .form-2 input{
        margin-bottom: 5px;
        border-radius: 20px;
        width: 70%;
        height: 40px;
    }
     
    div.form-2 input::placeholder{
        font-size: 23px;
    }

    div.button-2 input{
        width: 250px;
        /*DESIGN*/
        font-size: 23px;
        height: 40px;
    }

    div.copyright{
        font-size: larger;
    }
}