*{
   box-sizing: border-box;
   margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*SECTION 1*/

div.container-1{
   /*DESIGN*/
   background-image: url("../Imagens/section\ 1\ background.webp");
   background-repeat: no-repeat;
   background-size:cover;

   
}

div.side-a{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 100px;
   width: 50%;
   /*DESIGN*/
   background-color: rgba(0, 0, 0, 0.534);
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border-top-right-radius: 200px;
   border-bottom-right-radius: 200px;
}

div.title{
   border-bottom: 1px solid;
}

div.title h1{
   margin-bottom: 10px;
   font-size: 50px;
   text-align: center;
}

div.description h1, div.description p, div.security{
   margin: 10px;
   text-align: center;
}

div.form{
   display: flex;
   flex-direction: column;
   width: 300px;
   /*DESIGN*/
   color: white;
}

div.form input{
   margin-bottom: 5px;
   border-radius: 20px;
   height: 35px;
   background-color: #389af5;
   border: solid 2px white;
}

div.form input::placeholder{
   font-size: 18px;
   text-align: center;
   color: white;
}

div.button input{
   width: 177px;
   margin-top: 15px;
   width: 300px;
   /*DESIGN*/
   font-size: 18px;
   /* text-align: center; */
   color: white;
   background-color: #389af5;
   border-radius: 20px;
   height: 35px;
   cursor: pointer;
   border: solid 2px white;
}

/*SECTION 2*/

div.class-1, div.class-2, div.class-3, div.aula-bonus{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 500px;
   /*DESIGN*/
   background-color: rgb(0, 0, 0);
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.class-img{
   width: 50%;
   height: 100%;
}

div.class-title{
   padding: 20px;
   margin: 10px;
   /*DESIGN*/
   border: 1px solid;
   border-radius: 20px;
   font-size: 35px;
   font-weight:bold;
}

div.class-title:hover{
   background-color: aliceblue;
   color: #0077e6;
}

div.class-1 img, div.class-2 img, div.class-3 img, div.aula-bonus img{
   width: 100%;
   height: inherit;
   /*DESIGN*/
   opacity: 0.7;
   
}

div.class-content{
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 30px;
   /*DESIGN*/
   text-align: center;
   background-color: #0077e6;
   border: 1px solid white;
}












/* section.especial-sec{
   background-color:#0077e6;
}

div.clip2{
   height: 50px;
   background-color:#0077e6;

}

div.clip2{
   width: 100%;
   clip-path: ellipse(64% 31% at 50% 33%);
   /* border: 2px solid; */
   position: relative;
   top: 30px;
   z-index: 1;
}*/