*{
   box-sizing: border-box;
   margin: 0;
}

/*SECTION 1*/

div.container-1{
   /*DESIGN*/
   background-image: url("../Imagens/section\ 1\ background.webp");
   background-repeat: no-repeat;
   background-size:cover;   
}

div.side-a{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 100px;
   width: 50%;
   /*DESIGN*/
   background-color: rgba(0, 0, 0, 0.534);
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border-top-right-radius: 200px;
   border-bottom-right-radius: 200px;
}

div.title{
   border-bottom: 1px solid;
}

div.title h1{
   margin-bottom: 10px;
   font-size: 50px;
   text-align: center;
}

div.description h1, div.description p, div.security{
   margin: 10px;
   text-align: center;
}

div.form{
   display: flex;
   flex-direction: column;
   width: 300px;
   /*DESIGN*/
   color: white;
}

div.form input{
   margin-bottom: 5px;
   border-radius: 20px;
   height: 35px;
   background-color: #fb6f24;
   border: solid 2px white;
}

div.form input::placeholder{
   font-size: 18px;
   text-align: center;
   color: white;
}

div.button input{
   width: 177px;
   margin-top: 15px;
   width: 300px;
   /*DESIGN*/
   font-size: 18px;
   color: white;
   background-color: #fb6f24;
   border-radius: 20px;
   height: 35px;
   cursor: pointer;
   border: solid 2px white;
}

/*SECTION 2*/

div.class-1, div.class-2, div.class-3, div.aula-bonus{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 500px;
   /*DESIGN*/
   background-color: rgb(0, 0, 0);
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.class-img{
   width: 50%;
   height: 100%;
}

div.class-title{
   padding: 20px;
   margin: 10px;
   /*DESIGN*/
   border: 1px solid;
   border-radius: 20px;
   font-size: 35px;
   font-weight:bold;
}

div.class-1 img, div.class-2 img, div.class-3 img, div.aula-bonus img{
   width: 100%;
   height: inherit;
   /*DESIGN*/
   opacity: 0.7;
}

div.class-content{
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 30px;
   /*DESIGN*/
   text-align: center;
   background-color: #1e6495;
}

summary{
   margin-bottom: 10px;
   cursor: pointer;
}

/*SECTION 3*/

div.container-3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.prof-title{
   padding: 30px;
   position: relative;
   top: 25px;
   text-align: center;
   background-color: #8CA315;
   color: #ffff;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
}

div.prof-title p{
   margin-top: 10px;
   font-style: italic;
}

div.professores{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   overflow: auto;
   padding: 15px;
   /*DESIGN*/
   background-color: #5191c1;
}

div.voight, div.atwater, div.rusek, div.burges, div.rojas, div.halstead, div.upton{
   margin: 15px;
   margin-top: 35px;
   /*DESIGN*/
   cursor: pointer;
}

div.professores img{
   width: 250px;
   /*DESIGN*/
   border-radius: 50%;
   border: 15px solid #0a4b75;
}

div.professores-desc{
   display: none;
   flex-direction: row;
   width: 100%;
   height: 600px;
   /*DESIGN*/
   background-image: url("../Imagens/Section\ 3\ background.webp");
   background-repeat: no-repeat;
   background-size: cover;
}

div.prof-pic, div.prof-bio{
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin: 30px;
   /*DESIGN*/
   background-color: rgba(0, 0, 0, 0.479);
   backdrop-filter: blur(5px);
   border: 1px solid #ffff;
   border-radius: 40px;
}

div.prof-pic{
   overflow: hidden;
}

div.prof-bio{
   display: flex;
   flex-direction: column;
   justify-content:center;
   padding: 30px;
   overflow: auto;
   /*DESIGN*/
   color: #ffff;
}

div.prof-full-name{
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid;
}

div.prof-full-name p{
   margin-top: 5px;
   font-style: italic;
}

/* SECTION 4 */

div.container-4{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: auto;
   /*DESIGN*/
   background-color: #1e6495;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #ffff;
}

div.form-title{
   margin-top: 30px;
   font-size: 30px;
   font-style: italic;
}

div.form-2{
   display: flex;
   flex-direction: column;
   width: 40%;
   padding: 80px;
   margin-top: 30px;
   /*DESIGN*/
   border: 1px dashed #ffff;
   background-color: #00000056;
   border-radius: 50px;

}

div.form-2 input{
   margin-bottom: 5px;
   border-radius: 20px;
   height: 35px;
   background-color: #fb6f24;
   border: solid 2px white;
}

div.form-2 input::placeholder{
   font-size: 18px;
   text-align: center;
   color: white;
}

div.button-2{
   display: flex;
   justify-content: center;
}

div.button-2 input{
   width: 177px;
   margin-top: 15px;
   /*DESIGN*/
   font-size: 18px;
   color: white;
   background-color: #fb6f24;
   border-radius: 20px;
   height: 35px;
   cursor: pointer;
   border: solid 2px white;
}

div.copyright{
   width: 100%;
   padding: 20px;
   padding-top: 50px;
   margin-top: 30px;
   /*DESIGN*/
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #ffff;
   text-align: center;
   background-color: #8CA315;
   clip-path: ellipse(57% 77% at 50% 80%);
}